*{
    padding: 0;
    margin: 0;
}

body{
        font-family: "Poppins", sans-serif;
        background-color: darksalmon;
        
}
.tittlebar{
    color: white;
    text-align: center;
    padding: 10px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    
}
.container div{
    width:200px;
    flex-basis:21%;
    margin: 5px;
    

}